
<h2>Persoane</h2>
<input type="text" class="search-input" [(ngModel)]="searchText" placeholder="Caută...">
<!-- Lista persoanelor existente -->
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nume</th>
      <th>Prenume</th>
      <th>CNP</th>
      <th>Vârstă</th>
      <th>Lista mașinilor aflate în proprietate</th>
      <th>Acțiuni</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let persoana of persoane | filterPersoane: searchText">
      <td>{{ persoana.id }}</td>
      <td>{{ persoana.Nume }}</td>
      <td>{{ persoana.Prenume }}</td>
      <td>{{ persoana.CNP }}</td>
      <td>{{ persoana.Varsta }}</td>
      <td>
        <ng-container *ngFor="let masina of persoana.masini.split('\n')">
          <p>{{ masina }}</p>
          <hr>
        </ng-container>
      </td>
      <td>
        <button class="btn-edit" (click)="deschideModal(persoana)">Editează</button>
        <button class="btn-delete" (click)="deletePersoana(persoana.id)">Șterge</button>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn-add" (click)="deschideFormularAdaugare()">Adaugă persoană (+)</button>


<!-- Modal pentru editarea unei persoane -->
<div class="form-container" *ngIf="persoanaSelectata">
  <div class="modal-content">
    <h2>Modifică persoană</h2>
    
    <form (ngSubmit)="actualizeazaPersoana()">
      <label for="nume">Nume:</label>
      <input type="text" id="nume" name="nume" [(ngModel)]="persoanaSelectata.Nume" required maxlength="255">

      <label for="prenume">Prenume:</label>
      <input type="text" id="prenume" name="prenume" [(ngModel)]="persoanaSelectata.Prenume" required maxlength="255">

      <label for="cnp">CNP:</label>
      <input type="text" id="cnp" name="cnp" [(ngModel)]="persoanaSelectata.CNP" required (change)="calculeazaVarsta()" maxlength="13">
    
      <label for="varsta">Vârstă:</label>
      <input type="number" id="varsta" name="varsta" [(ngModel)]="persoanaSelectata.Varsta" readonly>

      <label for="masini">Masini:</label>
      <input type="text" id="masini" name="masini" [(ngModel)]="persoanaSelectata.masini" readonly>

      <p>*varsta se va actualiza automat dupa salvarea modificarii</p>

      <button class="btn-save" type="submit">Actualizează</button>
      <button class="btn-cancel" (click)="inchideModal()">Anulează</button>
    </form>
  </div>
</div>
<div>
  

 <!-- modal pentru adaugarea unei persoane -->
 <div *ngIf="afiseazaFormular" class="form-container">
  <h2>Adaugă persoană</h2>
   <form (ngSubmit)="adaugaPersoana()">
     <span *ngIf="!numeNou" class="error-msg">Numele este obligatoriu!</span><br>
     <input type="text" id="nume" name="nume" [(ngModel)]="numeNou" required placeholder="Nume" maxlength="255">
     
     <span *ngIf="!prenumeNou" class="error-msg">Prenumele este obligatoriu!</span><br>
     <input type="text" id="prenume" name="prenume" [(ngModel)]="prenumeNou" required placeholder="Prenume" maxlength="255">
 
     <span *ngIf="!cnpNou" class="error-msg">CNP-ul este obligatoriu!</span><br>
     <input type="text" id="cnp" name="cnp" [(ngModel)]="cnpNou" required (change)="calculeazaVarsta()" placeholder="CNP" maxlength="13">

     <label for="masiniSelectate">Selectează mașini:</label>
    <select id="masiniSelectate" name="masiniSelectate" [(ngModel)]="masiniNou" multiple>
      <option *ngFor="let masina of masiniDisponibile" [ngValue]="masina">{{ masina.Marca }} - {{ masina.Model }}</option>
    </select>
     
     <p>*Varsta se va completa automat</p>
     <p>*Pentru a selecta mai multe masini, apasati CTRL+click pe masina</p>
     <!-- <input type="number" id="varsta" name="varsta" [(ngModel)]="varstaNoua" readonly placeholder="Varsta"> -->
 
     <button class="btn-save" type="submit">Adaugă</button>
     <button class="btn-cancel" class="btn-cancel" type="button" (click)="anuleazaAdaugare()">Anulează</button>
   </form>
 </div>


